// variables

:root {
  --main-bg-color: brown;
}

$base-color: #000;
$highlight-color: #f43f3f;
$exclusive-color: #ec3535;
$something: #fff;

// font weights

$font-weight-regular: 200;
$font-weight-medium: 500;
$font-weight-medium-plus: 600;
$font-weight-bold: 700;

// font sixe

$font-size-small: 0.65rem;  // 10px
$font-size-normal: 0.8rem; // 14px
$font-size-normal-plus: 0.9rem; // 15px
$font-size-big: 1.6rem;    // 25px
$font-size-bigger: 2.6rem; // 42px
$font-size-top-logo: 70px;
$font-size-top-sup: 12px;

// mixins

@mixin hover-color($front-c: $highlight-color) {
  &:hover {
    color: $front-c;
  }
}

@mixin add-place-for-icon() {
  content: "";
  display: block;
  margin: 0 0.5rem;
  width: 1rem;
  height: 1rem;
}

@mixin centrify() {
  display: flex;
  justify-content: center;
}
