$base-color: #000000;
$highlight-color: #f43f3f;
$exclusive-color: #ec3535;
$something: #fff;


$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$font-size: (
  "normal": 0.8rem,
  "big": 1.6rem,
  "bigger": 2.5rem,
);
