@import "variables";

.custom-fp-highlighted {
  width: 90%;
  margin: 0 auto 1rem;

  .views-view-grid--vertical {
    font-size: $font-size-small;
    font-weight: var(--main-bg-color);

    &:first-child h2 {
      margin: 0;
    }
  }
}
