@import "./variables";

/*
custom-header
  layout__region--content
    menu--header-left-menu   custom-logo    menu--header-right-menu
       ||                       ||
      ul                      div>div
        li*2                     \\
          span:after             p: a, sup
*/
.custom-header {

  width: 100%;
  margin: 0 auto;

  .layout__region--content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  list-style: none;
  display: flex;
}

.menu--header-left-menu .menu--level-1 li {  // menu & search elements
  margin: 0 10px;     // this is for space between neighbors
  display: flex;

  span {
    color: $base-color;

    @include hover-color;
  }

  &:first-child {      // menu
    &::after {
      @include add-place-for-icon;

      background: url("../images/menu-icon.svg");
      background-size: contain;
    }
  }

  &:last-child {       // search
    &::after {
      @include add-place-for-icon;

      background: url("../images/search-icon.svg");
      background-size: contain;
    }
  }
}

// main logo styling

.custom-logo {
  position: relative;

  p a {
    font-weight: $font-weight-bold;
    line-height: 1.2;
    font-size: $font-size-top-logo;
    white-space: nowrap;
    color: $exclusive-color;
    font-style: italic;
  }

  sup {
    font-style: italic;
    font-size: $font-size-top-sup;
    color: black;
    position: absolute;
    top: 27px;
    right: -13px;
  }
}

.menu--header-right-menu .menu--level-1 {   // my account & subscribe elements
  align-items: center;
  padding: 0;
  padding-inline-end: 40px;

  li {
    margin: 0 10px; // this is for space between neighbors
    display: flex;

    span {
      color: $base-color;

      @include hover-color;
    }

    &:first-child {       // my account
      white-space: nowrap;

      &::before {
        @include add-place-for-icon;

        background: url("../images/person-cropped.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:last-child {          // subscribe
      background-color: $exclusive-color;
      border-radius: 5px;

      &:hover {
        background-color: $base-color;
      }

      & a {
        padding: 8px 12px;
        color: white;
        font-weight: $font-weight-medium-plus;
      }
    }
  }
}

@media (max-width: $breakpoint2) {
  .custom-header {
    position: sticky;
    top: 60px;
  }
  .custom-header > .layout__region--content {
    justify-content: center;
    margin-top: 1.6rem;
    height: 50px;
    padding: 10px 0;


    .menu--header-left-menu {
      width: 100%;
      display: block;
      position: relative;

      ul li {
        &:first-child::after {
          position: absolute;
          left: 0;
        }

        &:last-child::after {
          position: absolute;
          right: 0;
        }

        &:first-child span {
          font-size: 0;
        }

        &:last-child span {
          font-size: 0;
        }
      }
    }

    .custom-logo {
      position: absolute;

    }
    .menu--header-right-menu {
      display: none;
    }
  }
}
