@import "./variables";

.layout__region--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
}

.menu--header-left-menu .menu--level-1 li{  //menu & search elements
  margin: 0 10px;     // this is for space between neighbors
  display:flex;
  span {
    color: $base-color;
    @include hoverColor();
    }

  &:first-child{      //menu
    &::after {
      @include addPlaceForIcon();
      background: url("../images/menu-icon.svg");
      background-size: contain;
    }
  }
  &:last-child{       //search
    &::after {
      @include addPlaceForIcon();
      background: url("../images/search-icon.svg");
      background-size: contain;
    }
  }
}

.menu--header-right-menu .menu--level-1 {   //my account & subscribe elements
  align-items: center;
  & li {
    margin: 0 10px; // this is for space between neighbors
    display: flex;

    span {
      color: $base-color;
      @include hoverColor();
    }

    &:first-child {       //my account
      &::before {
        @include addPlaceForIcon();
        background: url("../images/person-cropped.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:last-child {          //subscribe
      background-color: $exclusive-color;
      border-radius: 5px;
      &:hover {
        background-color: $base-color;
      }

      & a {
        padding: 8px 12px;
        color: white;
        font-weight: font-weight('medioum+');

      }


    }
  }
}
