@import "variables";

.node--view-mode-custom-frontpage-content-img-tall-gt-tiltle {
  position: relative;

  .global-tag-top {                 // global tag
    background-color: $highlight-color;
    position: absolute;
    margin-left: 20px;
    top: 220px;
    z-index: 3;

    @include exclusive;

    a {
      color: white;
    }
  }

  .custom-exclusive-and-title {       // title and stuff
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5%) 40%, rgba(0, 0, 0, 0%) 100%);
    width: 290px;
    position: absolute;
    top: 210px;
    padding: 30px 20px 20px;
    height: 140px;

    .block-field-blocknodearticletitle a {
      color: white;
      font-weight: $font-weight-bold;
      font-size: $font-size-big;
    }
  }
}
