@import "./variables";

.primary-nav {
  width: 42rem;
  margin: 0 auto;

  & ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.custom-pages-name .field-content {   // Menupage: page's name
  font-size: $font-size-bigger;

  @include centrify;
}

.custom-secondary-menu {    // Menupage: secondary menu (mini)
  @include centrify;


  ul {
    width: 45%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;

    li a {
      font-size: $font-size-normal-plus;
    }
  }
}

// adaptive

@media (max-width: $breakpoint2) {
  .primary-nav {
    display: none;
  }
}
