@import "./variables";

// global rules for fields

.field--name-field-global-tags {
  display: inline-block;

  a {
    color: $exclusive-color;
    text-transform: uppercase;
    font-size: $font-size-tag;
    font-weight: $font-weight-medium-plus;

    &:hover {
      color: black;
    }
  }
}

.field--name-field-exclusive {
  display: inline-block;
  color: white;
  background-color: $exclusive-color;
  border-radius: 2px;
  padding: 3px 5px;
  font-size: $font-size-tag;
  font-weight: $font-weight-medium-plus;
  text-transform: uppercase;
}

.block__title {
   font-size: $font-size-big;
 }

.view-header {
  font-size: $font-size-tag;
  font-weight: $font-weight-medium-plus;
}

.node__author-image img {
  border-radius: 50%;
}


// rules for view modes
